:root {
  --color-primary: #defe47;
  --color-secondary: #d1f7ff;
  --color-background: #01012b;
  --color-text: #05d9e8;
  /* --color-accent: #ff2a6d; */
  --color-accent: #ff0000;
  --color-accent-transparent: #ff000020;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(300deg, #01012b, rgb(9, 9, 72), #01012b);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;

  color: var(--color-text);
  font-family: var(--font-electrolize);
  /* font-family: var(--font-share-tech-mono); */
}

.button {
  color: var(--color-accent);
  background-color: transparent;
  padding: 1rem;
  border: solid 2px var(--color-accent);
  cursor: pointer;
  font-weight: 700;
  min-width: 15rem;
  font-size: 1rem;
  box-shadow: var(--color-accent) 0px 0px 10px 0px;
  transition: .2s;
}

.button:hover {
  box-shadow: var(--color-accent) 0px 0px 20px 0px;
  background-color: var(--color-accent);
  color: var(--color-text);
}

a,
.a {
  color: var(--color-accent);
  transition: .2s;
  text-decoration: none;
}

a:hover,
.a:hover {
  opacity: .8;
}

h1 {
  color: var(--color-primary);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}