:root {
  --color-primary: #defe47;
  --color-secondary: #d1f7ff;
  /* --color-background: #01012b; */
  --color-background: #021114;
  --color-text: #05d9e8;
  --color-accent: #ff0000;
  --color-accent-transparent: #ff000010;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-background);

  color: var(--color-text);
  font-family: var(--font-electrolize);
  /* font-family: var(--font-share-tech-mono); */
}

.button {
  color: var(--color-accent);
  background-color: transparent;
  padding: 1rem;
  border: solid 2px var(--color-accent);
  cursor: pointer;
  font-weight: 700;
  min-width: 15rem;
  font-size: 1rem;
  box-shadow: var(--color-accent) 0px 0px 10px 0px;
  transition: .2s;
}

.button:hover {
  box-shadow: var(--color-accent) 0px 0px 20px 0px;
  background-color: var(--color-accent);
  color: var(--color-text);
}

a,
.a {
  color: var(--color-accent);
  transition: .2s;
  text-decoration: none;
}

a:hover,
.a:hover {
  opacity: .8;
}

h1 {
  color: var(--color-primary);
}