@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary font-bold;
  }

  a {
    @apply text-accent flex gap-[0.3rem] items-center duration-200 hover:opacity-50;
  }
}

/* there are color variables in tailwind.config.js */
:root {
  --color-primary: #defe47;
  --color-secondary: #d1f7ff;
  --color-background: #021114;
  --color-text: #05d9e8;
  --color-accent: #ff0000;
  --color-accent-transparent: #ff000010;
}

/* Scroll bar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
}
