.main {
  padding: 0 10%;
}

.home {
  display: flex;
  height: 90vh;
  font-size: 2rem;
}

.home_description {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.home_image {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home span {
  color: var(--color-primary);
}

.home_socials {
  display: flex;
  gap: .5rem;
}

.about {
  display: flex;
  font-size: 1.5rem;
}

.about img {
  border: solid 2px var(--color-accent);
  box-shadow: var(--color-accent) 5px 5px;
}

.projects {
  text-align: center;
  padding: 4rem 0;
}

.projects_grid {
  display: flex;
  flex-wrap: wrap;
}