.main {
  padding: 0 10%;
}

.home {
  display: flex;
  height: 90vh;
  font-size: 2rem;
}

.home_description {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.home_image {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home span {
  color: var(--color-primary);
}

.home_socials {
  display: flex;
  gap: .5rem;
}

.about {
  display: flex;
  font-size: 1.5rem;
  padding: 3rem 0;
}

.about img {
  border: solid 2px var(--color-accent);
  box-shadow: var(--color-accent) 5px 5px;
}

.experience {
  display: flex;
  gap: 2rem;
  padding: 3rem 0;
}

.experience div {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.experience details {
  width: 100%;
  text-align: center;
  border: solid 1px var(--color-accent);
  padding: .5rem;
  margin: .5rem 0;
}

.experience summary {
  color: var(--color-primary);
  cursor: pointer;
}

.experience p {
  margin-top: 1rem;
}

.projects {
  text-align: center;
  padding: 3rem 0;
}

.projects_grid {
  display: flex;
  flex-wrap: wrap;
}