.main {
  padding: 0 10%;
}

.home {
  display: flex;
  height: 90vh;
  font-size: 2rem;
}

.home_wrapper {
  display: flex;
  justify-content: center;
  width: 50%;
}

.home_wrapper:nth-child(1) {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.home_wrapper:nth-child(2) {
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
}

.home_socials {
  display: flex;
  gap: 0.5rem;
}

.about {
  display: flex;
  font-size: 1.5rem;
  padding: 3rem 0;
}

.about_wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
}

.about_wrapper:nth-child(1) {
  align-items: center;
}

.about_wrapper:nth-child(2) {
  flex-direction: column;
  align-items: flex-start;
}

.about img {
  border: solid 2px var(--color-primary);
  box-shadow: var(--color-primary) 5px 5px;
  width: 60%;
}

.experience {
  display: flex;
  gap: 2rem;
  padding: 3rem 0;
}

.experience div {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.experience details {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}

.experience summary {
  color: var(--color-primary);
  cursor: pointer;
}

.experience p {
  margin-top: 1rem;
}

.projects {
  text-align: center;
  padding: 3rem 0;
}

.projects_grid {
  display: flex;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

.contact h1 {
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .home {
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
  }

  .home_wrapper {
    width: 100%;
  }

  .about {
    flex-direction: column;
  }

  .about img {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
  }

  .about_wrapper {
    width: 100%;
  }

  .experience {
    flex-direction: column;
  }

  .experience div {
    width: 100%;
  }
}
