.main {
  display: flex;
  background-color: #000;
  min-height: 10rem;
  padding: 1rem 7%;
}

.wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.wrapper a {
  font-size: 1.5rem;
}

.wrapper a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  .main {
    display: none;
  }
}
